body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background-color: #1b1e28;
    color: #d0d0e0;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 240px;
    background-color: #242838;
    padding: 1rem;
    box-sizing: border-box;
}

.sidebar a {
    display: block;
    color: #5dc0e7;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.sidebar ul {
    list-style: none;
    padding-left: 1rem;
}

.sidebar li {
    margin: 0.3rem 0;
}

.sidebar li b {
    color: #ffffff;
}

.content {
    flex: 1;
    padding: 3rem 2rem;
    box-sizing: border-box;

    left: 25dvw;
    height: 100%;
    position: relative;
}

.content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.content p {
    font-size: 1rem;
    margin-bottom: 1rem;

    width: 80ch;
    white-space: normal;
    overflow-wrap: break-word;
}

.content a {
    color: #5dc0e7;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.titlebar {
    position: absolute;
    top: 0.8rem;
    left: calc(50% + 120px);
    transform: translateX(-50%);
    color: #7f869a;
    font-size: 1rem;
}

@media (max-width: 1024px) {
    .content {
        left: 0;
    }
}